.contactForm ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: stretch;
  margin: 0 10px;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.contactForm ul li {
  cursor: pointer;
  background-color: var(--purple-70);
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s linear;
  font-weight: 600;
}

.contactForm ul li:hover,
.contactForm ul li:active,
.contactForm ul li:focus {
  background-color: var(--purple-90);
  color: black;
}

.contactForm ul.active {
  margin: 10px;
  max-height: 800px;
}
