.header {
  display: flex;
  padding: 150px 400px 160px 162px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
  border-bottom: 1px solid var(--gray-15);
  background: linear-gradient(
    96deg,
    #262626 -26.82%,
    rgba(38, 38, 38, 0) 40.46%
  );
}

.header h1 {
  color: var(--white);
  font-size: var(--font-3xl);
  line-height: 1.5;
  margin-bottom: 14px;
}

.header p {
  color: var(--gray-60);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: 1.5;
}

@media (max-width: 1440px) {
  .header {
    padding: 100px 200px 130px 80px;
  }
  .header h1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 812px) {
  .header {
    padding: 50px 16px;
  }
  .header h1 {
    margin-bottom: 10px;
  }
}
