@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;0,700;0,800;0,900;1,900&display=swap");
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 390px) {
  .container {
    width: 100%;
  }
}

@layer components {
  .container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  @media (max-width: 1440px) {
    .container {
      max-width: 1280px;
    }
  }
  @media (max-width: 390px) {
    .container {
      width: 100%;
    }
  }
}

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  /* Purple Shades */
  --purple-60: #703bf7;
  --purple-65: #8254f8;
  --purple-70: #946cf9;
  --purple-75: #a685fa;
  --purple-90: #dbcefd;
  --purple-95: #ede7fe;
  --purple-97: #f4f0fe;
  --purple-99: #fbfaff;

  /* White Shades */

  --white-90: #e4e4e7;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --white-99: #fcfcfd;

  /* Gray Shades */

  --gray-08: #141414;
  --gray-10: #1a1a1a;
  --gray-15: #262626;
  --gray-20: #333333;
  --gray-30: #4d4d4d;
  --gray-40: #666666;
  --gray-50: #808080;
  --gray-60: #999999;

  /* Font-Size */

  --font-base: 16px;
  --font-xs: 14px;
  --font-sm: 18px;
  --font-md: 24px;
  --font-lg: 26px;
  --font-xl: 30px;
  --font-2xl: 40px;
  --font-3xl: 48px;
  --font-4xl: 60px;
  --SpecialFooterLinks: 20px;

  /* Logo Size  */

  --logo-size: 48px;
  --heading-gap: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
li {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: 600;
}

p,
span,
a,
li {
  font-weight: 500;
  font-size: var(--font-sm);
}

p {
  color: var(--gray-60);
}
span {
  color: var(--white);
}

@media (max-width: 1440px) {
  body {
    --font-base: 16px;
    --font-xs: 14px;
    --font-sm: 16px;
    --font-md: 20px;
    --font-lg: 20px;
    --font-xl: 24px;
    --font-2xl: 30px;
    --font-3xl: 38px;
    --font-4xl: 46px;
    --logo-size: 34px;
    --heading-gap: 150px;
    --SpecialFooterLinks: 18px;
  }
}

@media (max-width: 1050px) {
  body {
    --heading-gap: 20px;
  }
}
@media (max-width: 550px) {
  body {
    --font-base: 16px;
    --font-xs: 14px;
    --font-sm: 14px;
    --font-md: 18px;
    --font-lg: 18px;
    --font-xl: 20px;
    --font-2xl: 24px;
    --font-3xl: 28px;
    --font-4xl: 28px;
    --logo-size: 28px;
    --heading-gap: 20px;
    --SpecialFooterLinks: 16px;
  }
}

body {
  background-color: var(--gray-08);
}

.container-gap {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section-margin {
  padding-top: 65px;
}
.section-padding {
  padding-top: 65px;
}
@media (max-width: 1440px) {
  .container-gap {
    gap: 60px;
  }
  .section-margin {
    padding-top: 50px;
  }

  .section-padding {
    padding-top: 50px;
  }
}
@media (max-width: 550px) {
  .container-gap {
    gap: 40px;
  }
  .section-margin {
    padding-top: 35px;
  }
  .section-padding {
    padding-top: 35px;
  }
}

svg {
  max-width: 100px;
}
