.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  border-radius: 10px;
  color: var(--white);
}
.primaryButton {
  background-color: var(--purple-60);
}
.secondaryButton {
  border: 1px solid var(--gray-15);
  background-color: var(--gray-08) !important ;
  z-index: 123;
}

@media (max-width: 1440px) {
  .btn {
    padding: 14px 20px;
  }
}
