.btn {
  font-size: var(--font-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  color: var(--white);
  padding: 18px 24px;
  white-space: nowrap;
}

.primaryButton {
  background-color: var(--purple-60);
}

.secondaryButton {
  border: 1px solid var(--gray-15);
  background-color: var(--gray-10) !important;
  z-index: 123;
}

@media (max-width: 1440px) {
  .btn {
    padding: 14px 20px;
  }
}
